.container {
    margin: 2em 4em;
}

.section-title {
    color: var(--navy);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.row-card {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.round-card {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(137.44deg, rgba(46, 64, 83, 0.4) 0%, rgba(46, 64, 83, 0.1) 76.39%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-3 {
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 270px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 399px rgba(0, 0, 0, 0.0196802), 0px 1.98287px 166.693px rgba(0, 0, 0, 0.0282725), 0px 1.42961px 89.1219px rgba(0, 0, 0, 0.035), 0px 1.07358px 49.961px rgba(0, 0, 0, 0.0417275), 0px 0.739817px 26.5339px rgba(0, 0, 0, 0.0503198), 0px 0.385952px 11.0414px rgba(0, 0, 0, 0.07);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
}

.card-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.img-round {
    width: 20px;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-card-image {
    width: 210px;
    height: 112px;
    border-radius: 15px;
    background: linear-gradient(137.44deg, rgba(46, 64, 83, 0.4) 0%, rgba(46, 64, 83, 0.1) 76.39%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-card-image img {
    width: 90%;
}

.round-card a{
    text-decoration: none;
    color: blue;
}
.card-body {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-title {
    font-size: 25px;
    color: var(--navy);
}

.text-desc {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.text-price {
    font-size: 25px;
    color: var(--navy);
    margin-top: 10px;
}